/* Brantford Living Media Queries */

/* Laptop Resolution (1400x900) */
@media screen and (max-width: 1440px) {
    .logo h1 {
        font-size: 30px;
    }

    .menu img {
        margin-top: 35px;
    }

    .mainNav ul li a {
        font-size: 20px;
    }

    .welcomeLogo {
        padding: 0px 125px 0px 125px;
        margin-top: 175px;
    }

    .findOut h1 {
        margin-top: 150px;
        font-size: 30px;
    }

    #brantfordContainer {
        margin-top: 450px;
    }

    .title {
        font-size: 45px;
    }

    .text {
        font-size: 25px;
    }

    #map {
        width: 1440px;
    }

    #commuteTitle {
        font-size: 30px;
        margin-top: 50px;
    }

    #commuteForm {
        padding-left: 275px;
    }

    .formInput {
        width: 800px;
        height: 75px;
        padding: 25px;
        font-size: 25px;
    }

    #submit {
        margin-left: 325px;
        font-size: 20px;
    }
}

/* iPad Resolution (1024x768) */
@media screen and (max-width: 1024px) {
    .menu img {
        margin-top: 30px;
    }

    .mainNav ul li a {
        font-size: 15px;
        padding: 0px;
    }
    
    .welcomeLogo {
        padding: 0px 175px 0px 175px;
    }

    .findOut h1 {
        margin-top: 175px;
    }

    #map {
        width: 1024px;
        height: 500px;
    }

    #iconContainer {
        padding: 0px 100px 25px 100px;
    }

    #commuteForm {
        padding-left: 85px;
    }

    /* Need to fix the positioning here */
    #footerNavCon {
        padding-left: 40px;
    }
}

/* iPhone 6 Resolution (375x667) */
@media screen and (max-width: 375px) {
    body {
        background-image: url(../images/mobile_background.png);
    }

    .logo {
        text-align: center;
    }

    .menu img {
        margin-left: 130px;
    }

    .mainNav {
        margin-left: 200px;
    }

    .mainNav ul li {
        display: block;
    }

    .welcomeLogo {
        padding: 0px 50px 0px 50px;
        margin-top: 125px;
    }

    .findOut h1 {
        font-size: 20px;
        margin-top: 200px;
    }

    #brantfordContainer {
        margin-top: 100px;
    }

    .title {
        font-size: 25px;
    }

    .text {
        font-size: 15px;
        padding: 0px 10px 0px 10px;
        margin-top: 10px;
    }

    #map {
        width: 375px;
    }

    #iconContainer {
        padding: 0px 100px 25px 100px;
    }

    .icons {
        margin-bottom: 25px;
    }

    #commuteTitle {
        font-size: 15px;
    }

    .formInput {
        font-size: 15px;
        width: 250px;
        height: 50px;
        margin-top: 25px;
    }

    #commuteForm {
        padding-left: 45px;
    }

    #submit {
        margin-left: 65px;
        font-size: 15px;
        padding: 15px 30px 15px 30px;
    }

    .mainFooter {
        margin-top: 50px;
    }

    .mainFooter h3 {
        font-size: 25px;
    }
}